<!--<div class="" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <form [formGroup]="checkPassForm" (ngSubmit)="changePassword()">-->
<!--        <div class="modal-header text-center">-->
<!--            <h2 style="color: red" >Đổi mật khẩu</h2>-->
<!--        </div>-->
<!--        <div class="container modal-body">-->
<!--          <div class="row ml-4">-->
<!--            <div class="col-6 mt-1">-->
<!--              <span>Mật khẩu hiện tại (<label style="color: red">*</label>)</span>-->
<!--            </div>-->
<!--            <div class="col-6 form-group pl-0 pr-5">-->
<!--              <input type="password" id="password1" class="form-control" formControlName="oldPassword">-->
<!--              <small-->
<!--                *ngIf="checkPassForm.controls.oldPassword.hasError('required') && (checkPassForm.controls.oldPassword.dirty || checkPassForm.controls.oldPassword.touched)"-->
<!--                style="color: red">(*)Mật khẩu không được để trống </small>-->
<!--              <small-->
<!--                *ngIf="checkPassForm.controls.oldPassword .hasError('pattern') && (checkPassForm.controls.oldPassword.dirty || checkPassForm.controls.oldPassword.touched)"-->
<!--                style="color: red"> (*)Mật khẩu phải là kí tự chữ a -z không dấu , kí tự số 0-9 , ít nhất 5 kí tự </small> <br>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row ml-4">-->
<!--            <div class="col-6 mt-1">-->
<!--              <span>Nhập mật khẩu mới (<label style="color: red">*</label>)</span>-->
<!--            </div>-->
<!--            <div class="col-6 form-group pl-0 pr-5">-->
<!--              <input type="password" id="password2" class="form-control" formControlName="newPassword">-->
<!--              <small style="color: red"-->
<!--                     *ngIf="checkPassForm.controls.newPassword.hasError('required') && (checkPassForm.controls.newPassword.touched || checkPassForm.controls.newPassword.dirty)">-->
<!--                (*)Mật khẩu không được để trống-->
<!--              </small>-->
<!--              <small style="color: red"-->
<!--                     *ngIf="checkPassForm.controls.newPassword.hasError('pattern') && (checkPassForm.controls.newPassword.touched || checkPassForm.controls.newPassword.dirty)">-->
<!--                (*)Mật khẩu phải là kí tự chữ a -z không dấu , kí tự số 0-9 , ít nhất 5 kí tự-->
<!--              </small>-->
<!--              <br>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row ml-4">-->
<!--            <div class="col-6 mt-1">-->
<!--              <span>Xác nhận mật khẩu (<label style="color: red">*</label>)</span>-->
<!--            </div>-->
<!--            <div class="col-6 form-group pl-0 pr-5">-->
<!--              <input type="password" id="password3" class="form-control" formControlName="confirmPassword">-->
<!--              <small style="color: red" *ngIf="checkPassForm.hasError('passwordNotMatch')&&(checkPassForm.controls.confirmPassword.touched || checkPassForm.controls.confirmPassword.dirty)">-->
<!--                Mật khẩu không trùng khớp-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="submit" class="mr-3 btn btn-success button" style="font-size: 14px; width: auto">-->
<!--            <i class="fa fa-check" aria-hidden="true"></i> Đổi mật khẩu-->
<!--          </button>-->
<!--          <button class="btn btn-primary button" style="margin-right: 36px ;font-size: 14px; width: 85px" type="button"-->
<!--                  (click)="closeDialog()">-->
<!--            <i class="fa fa-reply"></i> Hủy-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="card container">
  <article class="card-body" >
    <form [formGroup]="checkPassForm" (ngSubmit)="changePassword()">
      <div class="modal-header text-center">
        <h2 style="color: red" >Đổi mật khẩu</h2>
      </div>
      <div class="container modal-body">
        <div class="row ml-4">
          <div class="col-6 mt-1">
            <span>Mật khẩu hiện tại (<label style="color: red">*</label>)</span>
          </div>
          <div class="col-6 form-group pl-0 pr-5">
            <input type="password" id="password1" class="form-control" formControlName="oldPassword">
            <small
              *ngIf="checkPassForm.controls.oldPassword.hasError('required') && (checkPassForm.controls.oldPassword.dirty || checkPassForm.controls.oldPassword.touched)"
              style="color: red">(*)Mật khẩu không được để trống </small>
            <small
              *ngIf="checkPassForm.controls.oldPassword .hasError('pattern') && (checkPassForm.controls.oldPassword.dirty || checkPassForm.controls.oldPassword.touched)"
              style="color: red"> (*)Mật khẩu phải là kí tự chữ a -z không dấu , kí tự số 0-9 , ít nhất 5 kí tự </small> <br>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-6 mt-1">
            <span>Nhập mật khẩu mới (<label style="color: red">*</label>)</span>
          </div>
          <div class="col-6 form-group pl-0 pr-5">
            <input type="password" id="password2" class="form-control" formControlName="newPassword">
            <small style="color: red"
                   *ngIf="checkPassForm.controls.newPassword.hasError('required') && (checkPassForm.controls.newPassword.touched || checkPassForm.controls.newPassword.dirty)">
              (*)Mật khẩu không được để trống
            </small>
            <small style="color: red"
                   *ngIf="checkPassForm.controls.newPassword.hasError('pattern') && (checkPassForm.controls.newPassword.touched || checkPassForm.controls.newPassword.dirty)">
              (*)Mật khẩu phải là kí tự chữ a -z không dấu , kí tự số 0-9 , ít nhất 5 kí tự
            </small>
            <br>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-6 mt-1">
            <span>Xác nhận mật khẩu (<label style="color: red">*</label>)</span>
          </div>
          <div class="col-6 form-group pl-0 pr-5">
            <input type="password" id="password3" class="form-control" formControlName="confirmPassword">
            <small style="color: red" *ngIf="checkPassForm.hasError('passwordNotMatch')&&(checkPassForm.controls.confirmPassword.touched || checkPassForm.controls.confirmPassword.dirty)">
              Mật khẩu không trùng khớp
            </small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="mr-3 btn btn-success button" style="font-size: 14px; width: auto">
          <i class="fa fa-check" aria-hidden="true"></i> Đổi mật khẩu
        </button>
        <button class="btn btn-primary button" style="margin-right: 36px ;font-size: 14px; width: 85px" type="button"
                (click)="closeDialog()">
          <i class="fa fa-reply"></i> Hủy
        </button>
      </div>
    </form>

  </article>
</div>



