<div style=" " id="hinhnenFooter">
  <div class="row justify-content-around mb-0 pb-0 ">
    <div class=" col-11">
      <div class="row justify-content-center">
        <div class="col-md-3 col-12 font-italic align-items-center mt-md-3 mt-4">
          <h5><span> <img src="/assets/img/zyro-image.png" style="height: 40px ; width: auto" class="img-fluid mb-1 " alt=""></span><b class="text-dark"> ThangDinh<span class="text-muted"> Food</span></b></h5>
          <p class="social mt-md-3 mt-2"> <span><i class="fa fa-facebook " aria-hidden="true"></i></span> <span><i class="fa fa-linkedin" aria-hidden="true"></i></span> <span><i class="fa fa-twitter" aria-hidden="true"></i></span> </p> <small class="copy-rights cursor-pointer">&#9400; 2021 Công ty C1220G1</small><br> <small>Copyright.All Rights Resered. </small>
        </div>
        <div class="col-md-3 col-12 my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-md-3 mt-4">Thông tin</li>
            <li>Giới thiệu</li>
            <li>Quy chế hoạt động</li>
            <li>Chính sách bảo mật</li>
            <li>Giải quyết khiếu nại, khiếu tố</li>
            <li>Liên kết</li>
            <li>Quảng cáo</li>
            <li>Liên hệ</li>
          </ul>
        </div>
        <div class="col-md-3 col-12 my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-md-3 mt-4">Đối tác</li>
            <li>
              <img src="/assets/img/logo-grab.png" alt="" style="height: 50px ; width: auto">
              <span>Grab bike</span>
            </li>
            <li>
              <img src="/assets/img/Giao_Hang_Nhanh_Toan_Quoc_color.b7d18fe5.png" alt="" style="height: 50px ; width: auto">
              <span>Giao Hàng Nhanh</span>
            </li>
            <li>
              <img src="/assets/img/Logo_Viettel.svg.png" alt="" style="height: 50px ; width: auto">
              <span>Viettel telecom</span>
            </li>
            <li>
              <img src="/assets/img/logo-mobifone-1.jpg" alt="" style="height: 50px ; width: auto">
              <span>Mobifone</span>
            </li>

          </ul>
        </div>
        <div class="col-xl-auto col-md-3 col-12 my-sm-0 mt-5">
          <ul class="list-unstyled">
            <li class="mt-md-3 mt-4">Tài khoản của tôi</li>
            <li>
              Đơn đặt hàng của tôi</li>
            <li> Nhận xét của tôi</li>
            <li>Tài khoản của tôi</li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div >


